# Supabase
NEXT_PUBLIC_SUPABASE_URL=<SUBSTITUTE_SUPABASE_URL>
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=<SUBSTITUTE_SUPABASE_PUBLISHABLE_KEY>

SUPABASE_DB_URL=""
SUPABASE_SERVICE_ROLE_KEY=""

# TMDB
TMDB_API_URL=https://api.themoviedb.org/3
TMDB_ACCESS_TOKEN=""